body {
  background-color: #FF6347;
}

* {
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

table tr th{
  outline: solid 1px orange;
}

#hotair {
  width: 700px;
  height: 500px;
}

img {
  width: 300px;
  height: 270px;

}

section {
  margin: 0 auto;
  position: relative;
  border-style: none;
  width: 1000px;
  height: 200px;
  text-align: center;
}

#resultsButton {
  width: 200px;
  height: 50px;
  position: absolute;
  margin: 0 auto;
  font-size: 20px;
  background-color: #DEB887;
  border-radius: 5px;
}

#resultsDisplay {
  width: 1000px;
  height: 700px;
}

canvas {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
