body {
  background-color: #FF6347;
}

* {
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

table tr th{
  outline: solid 1px orange;
}

img {
  width: 200px;
  height: 170px;

}

section {
  margin: 0 auto;
  position: relative;
  border-style: none;
  width: 1000px;
  height: 200px;
  text-align: center;
}


#resultsButton {
  margin-left: 100px;
  position: absolute;
  height: 50px;
  font-size: 20px;
  background-color: #DEB887;
  border-radius: 5px;


}

#resultsDisplay {
  width: 1000px;
  height: 700px;
}
